md-toolbar.md-table-toolbar {
  color: #1e88e5;
  background-color: #e3f2fd;
}

md-toolbar.md-table-toolbar .md-toolbar-tools {
  font-size: 16px;
}

md-toolbar.md-table-toolbar .md-toolbar-tools md-icon {
	fill: rgba(0,0,0,.54);
}

.md-fab-fixed {
	position: fixed !important;
}

.hora-trabalhada {
	color: #03A9F4;
}

.hora-trabalhada md-icon {
	fill: #03A9F4;
	margin: 0 5px 0 0;
}

.hora-extra {
	color: #4CAF50;
}

.hora-extra md-icon {
	fill: #4CAF50;
	margin: 0 5px 0 0;
}

.hora-faltante {
	color: #F44336;
}

.hora-faltante md-icon {
	fill: #F44336;
	margin: 0 5px 0 0;
}
