<div class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">
					<span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span>
				</button>
				<h4 class="modal-title">Confirmar Exclusão</h4>
			</div>
			<div class="modal-body">
				<p>Deseja realmente remover o registro do dia {{ ponto.data | date: 'dd' }}?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="remover($hide)">Sim</button>
				<button type="button" class="btn btn-default" ng-click="$hide()">Não</button>
			</div>
		</div>
	</div>
</div>