<div class="container">
	<div class="row row-space">
		<div class="col-xs-12">
			<button class="btn btn-primary pull-right" ng-click="showModalPonto()">Registrar Ponto</button>
		</div>
	</div>

	<div class="row row-space">
		<div class="col-xs-12">
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-click="anterior()">
					<span class="glyphicon glyphicon-arrow-left"></span>
				</button>
				<button type="button" class="btn btn-default" ng-model="mes" data-min-view="1" bs-datepicker>
					{{ mes | date: 'MMMM yyyy' }}
				</button>
				<button type="button" class="btn btn-default" ng-click="proximo()">
					<span class="glyphicon glyphicon-arrow-right"></span>
				</button>
			</div>
		</div>
	</div>

	<div class="row row-space">
		<div class="col-xs-12">
			<div class="table-responsive">
				<table class="table table-striped" ng-show="possuiRegistros()">
					<thead>
						<tr>
							<th>Dia</th>
							<th>Entrada / Saída</th>
							<th>Trabalhadas</th>
							<th>Extra</th>
							<th>Faltantes</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ponto in pontos">
							<td>
								{{ ponto.data | date: 'dd' }}<span class="hidden-xs"> - {{ ponto.data | date: 'EEE' }}</span>
							</td>
							<td>
								{{ ponto.entrada1 | date: 'HH:mm' }} - {{ ponto.saida1 | date: 'HH:mm' }}<br>
								{{ ponto.entrada2 | date: 'HH:mm' }} - {{ ponto.saida2 | date: 'HH:mm' }}
							</td>
							<td>{{ ponto.horasTrabalhadas | time }}</td>
							<td>{{ ponto.horasExtras | time }}</td>
							<td>{{ ponto.horasFaltantes | time }}</td>
							<td>
								<button class="btn btn-default" ng-click="showModalPonto(ponto)">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
								<button class="btn btn-default" ng-click="showModalRemover(ponto)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="alert alert-info" ng-hide="possuiRegistros()">
				<p>Não foi encontrado nenhum registro de ponto para este mês.</p>
			</div>

			<div class="row">
				<!-- Total horas trabalhadas -->
				<div class="col-sm-6 col-md-4">
					<panel-time title="Trabalhadas (mês)" hours="total.horasTrabalhadas" />
				</div>

				<!-- Total horas extras -->
				<div class="col-sm-6 col-md-4">
					<panel-time title="Extras (mês)" hours="total.horasExtras" color="success" />
				</div>

				<!-- Total horas faltantes -->
				<div class="col-sm-6 col-md-4">
					<panel-time title="Faltantes (mês)" hours="total.horasFaltantes" color="danger" />
				</div>

				<!-- Total horas mês -->
				<div class="col-sm-6 col-md-offset-2 col-md-4">
					<panel-time title="Banco (mês)" hours="total.horasBancoMes" color="primary" />
				</div>

				<!-- Total horas banco -->
				<div class="col-sm-offset-3 col-sm-6 col-md-offset-0 col-md-4">
					<panel-time title="Banco (total)" hours="horasBanco" color="black" />
				</div>
			</div>
		</div>
	</div>
</div>
