<div class="container">
	<div class="page-header">
		<h3>Login</h3>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<!-- Mensagens de erro do servidor -->
			<div class="alert alert-danger" ng-show="mensagem">
				<p>{{ mensagem }}</p>
			</div>

			<form class="form" name="form" ng-submit="login(form)" novalidate>
				<!-- E-mail -->
				<div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$invalid }">
					<label for="email" class="control-label">E-mail</label>
					<input type="email" id="email" name="email" class="form-control" ng-model="user.email" required>
					<div class="help-block">
						<p ng-show="form.email.$dirty && form.email.$error.required">Preencha o campo de e-mail</p>
						<p ng-show="form.email.$dirty && form.email.$error.email">E-mail inválido</p>
					</div>
				</div>

				<!-- Senha -->
				<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$invalid }">
					<label for="password" class="control-label">Senha</label>
					<input type="password" id="password" name="password" class="form-control" ng-model="user.password" required>
					<div class="help-block">
						<p ng-show="form.password.$dirty && form.password.$error.required">Preencha o campo de senha</p>
					</div>
				</div>

				<button type="submit" class="btn btn-primary btn-lg" ng-disabled="form.$invalid">Login</button>
				<a class="btn btn-default btn-lg" href="/signup">Registrar-se</a>
			</form>
		</div>
	</div>
</div>
