<div class="login-container" flex layout layout-align-gt-xs="center center">
	<md-card flex flex-gt-xs="50" flex-gt-sm="40" flex-gt-md="30" flex-xl="20" loading="vm.carregando">
		<form class="form" name="form" ng-submit="vm.login(form)" novalidate>
			<md-toolbar>
				<div class="md-toolbar-tools">Login</div>
			</md-toolbar>

			<md-card-content layout="column">
				<md-input-container>
					<label>E-mail</label>
					<input type="email" name="email" ng-model="vm.usuario.email" required />
					<div ng-messages="form.email.$error">
						<div ng-message="required">Campo obrigatório.</div>
						<div ng-message="email">E-mail inválido.</div>
					</div>
				</md-input-container>

				<md-input-container>
					<label>Senha</label>
					<input type="password" name="senha" ng-model="vm.usuario.senha" required />
					<div ng-messages="form.senha.$error">
						<div ng-message="required">Campo obrigatório.</div>
					</div>
				</md-input-container>

				<div layout layout-align="end center">
					<md-button ui-sref="registrar">Registrar</md-button>
					<md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid">Login</md-button>
				</div>
			</md-card-content>
		</form>
	</md-card>
</div>
