md-list-item.active {
	color: #2196f3;
	background-color: rgba(158,158,158,0.2);
}

md-list-item.active md-icon {
	fill: #2196f3;
}

.text-center {
	text-align: center;
}

.text-grey {
	color: rgb(158, 158, 158);
}

.text-green {
	color: #4CAF50;
}

.text-red {
	color: #F44336;
}

.text-light-blue {
	color: #03A9F4;
}

.text-pink {
	color: #E91E63;
}

md-toolbar.toolbar-grey {
	background-color: rgb(158, 158, 158);
}

md-toolbar.toolbar-green {
	background-color: #4CAF50;
}

md-toolbar.toolbar-red {
	background-color: #F44336;
}

md-toolbar.toolbar-light-blue {
	background-color: #03A9F4;
}

md-toolbar.toolbar-pink {
	background-color: #E91E63;
}

md-toolbar.toolbar-white {
	color: #000000;
	background-color: #ffffff;
}

md-toolbar.toolbar-white md-icon {
	color: #000000;
	fill: #000000;
}

/* Rever implementação */
/*@media print {
	td.md-checkbox-column,
	td.md-checkbox-cell {
		display: none !important;
	}
}*/
