<div class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl">
	<div class="container">

		<div class="navbar-header">
			<button class="navbar-toggle" type="button" ng-click="showMenu()">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a ng-href="/" class="navbar-brand">SRP</a>
		</div>

		<div class="navbar-collapse hidden-xs">
			<ul class="nav navbar-nav">
				<li ui-sref-active="active"><a ui-sref="main">Home</a></li>
				<li ui-sref-active="active" ng-if="isLoggedIn()"><a ui-sref="pontos">Registro de Pontos</a></li>
				<li ui-sref-active="active" ng-if="isAdmin()"><a ui-sref="admin">Usuários</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li ng-show="isLoggedIn()" class="dropdown">
					<a ng-href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
						Olá {{ getCurrentUser().name }} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a ng-href="/settings">Trocar Senha</a></li>
						<li class="divider"></li>
						<li><a ng-href="javascript:void(0)" ng-click="logout()">Sair</a></li>
					</ul>
				</li>
			</ul>
		</div>

	</div>
</div>
