<md-card>
	<md-card-content loading="vm.carregando">
		<md-list>
			<md-list-item class="md-2-line noright" ng-repeat-start="usuario in vm.usuarios track by usuario._id">
				<div class="md-list-item-text">
					<h3>{{ ::usuario.name }}</h3>
					<p>{{ ::usuario.email }}</p>
				</div>
				<md-icon class="md-secondary" md-svg-icon="delete" aria-label="Remover usuário" ng-click="vm.exibirConfirmacao(usuario)">
					<md-tooltip md-direction="left">Remover</md-tooltip>
				</md-icon>
			</md-list-item>
			<md-divider ng-repeat-end ng-if="!$last"></md-divider>
		</md-list>
	</md-card-content>
</md-card>
